.page-header, html, .page-footer {
  background: #d4d77b;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FCFFF5
}

.page-footer a {
  background: none repeat scroll 0 0 transparent;
  border: none;
}

.page-header .app-name {
  margin: 0;
  padding: 0;
  height: 150px;
}
