.page-header, html, .page-footer {
  background: #d4d77b;
}

body {
  background-color: #FCFFF5
}

.page-footer a {
  background: none repeat scroll 0 0 transparent;
  border: none;
}

.page-header .app-name {
  margin: 0;
  padding: 0;
  height: 150px;
}

.bidder-info {
  border: 1px solid gray;
  margin: 5px;
  padding: 0 5px;
}

.bidder-info h4 {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted gray;
}
